.disabled mat-icon {
  color: #ececec;
}

.disabled h4 {
  color: #ececec;
}

.active-link h4 {
  color: #05ACFE;
}

.active-link mat-icon {
  color: #05ACFE;
}

.mat-list-item {
  color: #676D7C;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 36px;
}

.mat-list-item:first-child {
  height: 50px;
}

h4 {
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 24px !important;
  font-style: normal;
}
