<mat-drawer mode="side" opened={{isExpanded}} disableClose="true" position="end" class="mat-elevation-z8 drawer">
    <form [formGroup]="newCompanyForm" (ngSubmit)="addCompany(formDirective)" class="form" #formDirective="ngForm">
        <h3>Add new project</h3>

        <span class="form-field">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="f.name.errors && f.name.errors.required">This field is required</mat-error>
            </mat-form-field>
        </span>

        <span class="form-field">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="f.name.errors && f.name.errors.required">This field is required</mat-error>
            </mat-form-field>
        </span>

      <span class="form-field">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company phone number</mat-label>
                <input matInput formControlName="phone_number">
                <mat-error *ngIf="f.name.errors && f.name.errors.required">This field is required</mat-error>
            </mat-form-field>
      </span>

      <span class="form-field">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company address</mat-label>
                <input matInput formControlName="address">
                <mat-error *ngIf="f.name.errors && f.name.errors.required">This field is required</mat-error>
            </mat-form-field>
       </span>

        <span class="form-field">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company country</mat-label>
                <input matInput formControlName="country">
                <mat-error *ngIf="f.name.errors && f.name.errors.required">This field is required</mat-error>
            </mat-form-field>
       </span>

        <span class="form-field">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company business field</mat-label>
                <input matInput formControlName="business_field">
                <mat-error *ngIf="f.name.errors && f.name.errors.required">This field is required</mat-error>
            </mat-form-field>
        </span>

        <span class="form-field form-field-padding-bottom">
            <span class="form-row full-width">
                <button mat-raised-button type="submit" color="primary" id="btn-add" class="full-width">Add new Company</button>
                <button mat-stroked-button type="button" (click)=closeNewProjectForm(formDirective) id="btn-cancel" class="full-width">
                    Cancel
                </button>
            </span>
        </span>

    </form>
</mat-drawer>
